@import "./metronic5/native-variables";
@import "./aligns";
@import "./flex";
@import "./swal";
@import "./positions";
@import "./metronic5/colors";
@import "./metronic5/chip";
@import "./metronic5/text_field_wrapper";
@import "./metronic5/dimensions";
@import "./metronic5/flex";
@import "./metronic5/forms";
@import "./metronic5/typography";
@import "./metronic5/paddings";
@import "./metronic5/margins";
@import "./metronic5/popup";

.sticky-elevation {
  position: sticky;
  z-index: 1;
  background: white;

  &&__top {
    top: 0;
  }

  &&__bottom {
    bottom: 0;
  }

  &&__nav {
    top: var(--nav-height__shrinked);
    transition: top .2s ease;

    #app:not(.nav--scrolled-down) & {
      top: calc(var(--nav-height__shrinked) + var(--nav-height-2));
    }
  }
}

main.safe-area {
  padding-bottom: 2em;
}

.pagination-item--link {
  color: #444;
}

.actions.actions__baseline {
  .actions-link {
    font-size: 1rem;
  }
}

.content {
  &-table {
    position: relative;

    tr {
      th, td {
        &:first-child {
          padding-left: 2em;
        }

        &:last-child {
          padding-right: 2em;
        }
      }
    }
  }
}

.title-header-options {
  margin: -22px 0;
}

thead th, tbody td, tfoot td {
  border: 1px solid #f7f7fb;
}

thead th, tfoot td {
  padding: 1em 0.66em;
}

tbody td {
  padding: 0.32em 0.66em;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    margin-top: var(--nav-height-2);
  }
}

body {
  color: #444;
}

[draggable=true] {
  background: azure;
}

.table-view {
  overflow-x: auto;
}

.form {
  > .input-wrapper:not(:first-child) {
    margin-top: 1em;
  }
}

table {
  font-size: 12px;
}

tbody td, tfoot th {
  height: 47px;
}

label {
  font-weight: bold;
}

.la {
  width: 1em;
  height: 1em;
}

fieldset {
  border-color: #f8f8f8;
  border-style: solid;
  padding-bottom: 1.5em;
}

legend {
  padding: 0 8px;
  font-weight: bold;
}

.form > .input-wrapper:not(:first-child) {
  margin-top: 1em;
}

.form-control input[type=checkbox] {
  margin: 0;
  padding: 0;

  &:focus {
    outline: 2px solid var(--primary);
  }
}

table {
  border-collapse: collapse;

  tbody {
    tr {
      border-bottom: 1px solid #f7f7fb;

      .on-hover({ background: #f7f7fb; });
    }
  }
}