@light-gray-text: rgb(144, 153, 177);
@bg-almost-white: rgb(247, 247, 251);

.color {
  &--primary {
    color: var(--primary);
  }

  &--secondary {
    color: var(--secondary);
  }

  &--success {
    color: var(--success);
  }

  &--danger {
    color: var(--danger);
  }

  &--info {
    color: var(--info);
  }

  &--link {
    color: #fff;
  }

  &--warning {
    color: var(--warning);
  }

  &--disabled {
    color: var(--disabled);
  }

  &--light {
    color: var(--light-gray-text);
  }

  &--light-purple {
    color: var(--light-purple);
  }
}
